.contacts {
  &--grey {
    color: @bg-lite-grey;
  }

  img {
    @media (min-width: @tablet-width) {
      width: 768px;
      height: 400px;
    }

    @media (min-width: @desktop-width) {
      width: 1440px;
      height: 400px;
    }
  }
}

.contacts__content-wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 80px;
  }
}

.contacts__adress {
  font-family: "Arial", sans-serif;
  font-style: normal;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}
