.desc {
  margin: 20px;
}

.desc__list {
  .clear-list();

  padding-left: 80px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.desc__item {
  @media (min-width: @tablet-width) {
    width: 245px;
  }
}
