.desc {
  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    position: relative;
    padding-top: 45px;
    padding-bottom: 104px;

    &::after {
      content: "";
      position: absolute;
      width: 798px;
      border-bottom: 1px solid @grey-e-six;
      left: 0;
      bottom: 0px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 126px;
  }
}

.desc__title {
  margin: 0;
}

.desc__list {
  .clear-list();
  margin-top: 42px;
  margin-bottom: 53px;

  @media (max-width: @mobile-width-only) {
    padding-left: 80px;
  }

  @media (min-width: @tablet-width) {
    margin-top: 72px;
    margin-bottom: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 245px 245px;
    justify-content: space-between;
    row-gap: 134px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 245px 245px 245px 245px;
  }
}

.desc__item {
  position: relative;
  font-family: "Arial", sans-serif;

  &::after {
    @media (min-width: @tablet-width) {
      content: "";
      position: absolute;
      height: 280px;

      background-repeat: no-repeat;
      right: 0;
      top: 0;
      z-index: -1;
    }
  }

  @media (max-width: @mobile-width-only) {
    width: 176px;
  }

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-top: 111px;
  }
}

.desc__item:not(:last-child) {
  @media (max-width: @mobile-width-only) {
    margin-bottom: 26px;
  }
}

@media (min-width: @tablet-width) {
  .desc__item--one {
    &::after {
      background-image: url("../img/one.svg");
      width: 112px;
    }
  }

  .desc__item--two {
    &::after {
      background-image: url("../img/two.svg");
      width: 134px;
    }
  }

  .desc__item--three {
    &::after {
      background-image: url("../img/three.svg");
      width: 134px;
    }
  }

  .desc__item--four {
    &::after {
      background-image: url("../img/four.svg");
      width: 136px;
    }
  }
}

.desc__item--leaflet {
  &::before {
    content: "";
    width: 60px;
    height: 60px;
    background-image: url("../img/leaflet.svg");
    position: absolute;
    left: -80px;

    @media (min-width: @tablet-width) {
      width: 80px;
      height: 80px;
      background-size: cover;
      top: 0;
      left: 0;
    }
  }
}

.desc__item--powder {
  &::before {
    content: "";
    width: 60px;
    height: 60px;
    background-image: url("../img/powder.svg");
    position: absolute;
    left: -80px;

    @media (min-width: @tablet-width) {
      width: 80px;
      height: 80px;
      background-size: cover;
      top: 0;
      left: 0;
    }
  }
}

.desc__item--food {
  &::before {
    content: "";
    width: 60px;
    height: 60px;
    background-image: url("../img/food.svg");
    position: absolute;
    left: -80px;

    @media (min-width: @tablet-width) {
      width: 80px;
      height: 80px;
      background-size: cover;
      top: 0;
      left: 0;
    }
  }
}

.desc__item--clock {
  &::before {
    content: "";
    width: 60px;
    height: 60px;
    background-image: url("../img/clock.svg");
    position: absolute;
    left: -80px;

    @media (min-width: @tablet-width) {
      width: 80px;
      height: 80px;
      background-size: cover;
      top: 0;
      left: 0;
    }
  }
}
