.diet {
  margin-top: 20px;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 82px;
  }
}

.diet__list {
  .clear-list();
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 570px 570px;
    gap: 80px;
    justify-content: center;
    width: 100%;
  }
}

.diet__item {
  position: relative;
  color: @black;
  margin: 0;
  box-sizing: border-box;
  width: 280px;
  padding: 30px 0 22px 20px;
  background-color: @bg-lite-grey;

  @media (min-width: @tablet-width) {
    padding: 77px 0 57px 53px;
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    padding: 77px 51px 59px 52px;
    width: 570px;
  }
}

.diet__item::before {
  content: "";
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;

  @media (max-width: @mobile-width-only) {
    left: 20px;
    top: 24px;
    width: 50px;
    height: 50px;
  }

  @media (min-width: @tablet-width) {
    left: 446px;
    top: 81px;
    width: 200px;
    height: 200px;
  }

  @media (min-width: @desktop-width) {
    left: 446px;
    top: 81px;
    width: 100px;
    height: 100px;
  }
}

.diet__item--small-cat {
  &::before {
    background-image: url("../img/small-cat.svg");

    @media (max-width: @mobile-width-only) {
      height: 53px;
    }

    @media (min-width: @tablet-width) {
      height: 211px;
    }

    @media (min-width: @desktop-width) {
      left: 52px;
      top: 41px;
      height: 106px;
    }
  }
}

.diet__item--big-cat {
  &::before {
    background-image: url("../img/big-cat.svg");

    @media (max-width: @mobile-width-only) {
      width: 67px;
    }

    @media (min-width: @tablet-width) {
      width: 268px;
      left: 412px;
    }

    @media (min-width: @desktop-width) {
      left: 33px;
      top: 47px;
      width: 134px;
    }
  }
}

.diet__item:not(:last-child) {
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.diet__title {
  margin: 0;
  padding-left: 91px;

  @media (min-width: @tablet-width) {
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    padding-left: 162px;
  }
}


.diet__text {
  position: relative;
  font-family: "Arial", sans-serif;
  margin: 0;

  @media (max-width: @mobile-width-only) {
    padding-right: 33px;

    &::after {
      content: "";
      position: absolute;
      width: 240px;
      border-bottom: 1px solid @grey-nine;
      left: 0;
      bottom: -23px;
    }
  }

  @media (min-width: @tablet-width) {
    padding-right: 316px;
    width: 340px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @tablet-width) {
    padding-top: 73px;
    padding-right: 0;
    width: 467px;
    font-size: 16px;
    line-height: 24px;
  }
}

.diet__link {
  .text-decor();

  position: relative;
  display: block;
  width: 127px;
  text-transform: uppercase;
  color: @black;
  outline: none;
  margin-top: 42px;

  &:focus {
    opacity: 0.3;
  }

  &::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    width: 22px;
    height: 2px;
    border: 1px solid @black;
    right: 10px;
    top: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    border: 5px solid transparent;
    border-left: 5px solid @black;
    right: 3px;
    top: 27%;

    @media (min-width: @tablet-width) {
      top: 37%;
    }
  }

  &:hover::before,
  &:focus::before {
    width: 30px;
    right: 2px;
  }

  &:hover::after,
  &:focus::after {
    right: -5px;
  }

  @media (min-width: @tablet-width) {
    width: 160px;
    font-size: 20px;
    line-height: 30px;
  }
}
