.diet__list {
  .clear-list();
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 570px 570px;
    gap: 80px;
    justify-content: center;
  }
}

.diet__item {
  margin: 0;
  width: 280px;
  background-color: @bg-lite-grey;

  @media (min-width: @tablet-width) {
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
  }
}

.diet__item:not(:last-child) {
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.diet__link {
  .text-decor();

  text-transform: uppercase;
  color: @black;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.diet__text {
  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
