.examples {
  background-color: @bg-lite-grey;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    height: 1080px;
    background: linear-gradient(to bottom, @white 619px, @bg-lite-grey 462px);
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    height: 598px;
    padding: 0 110px;
    background: linear-gradient(to bottom, @white 136px, @bg-lite-grey 462px);/*нет границы почему-то))*/
  }
}

.examples__wrap {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap; /*потом опущу кнопки, картинку позиционировать абсолютно*/
  }
}

.examples__text-wrap {
  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    width: 436px;
  }
}

.examples__stats-wrap {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    width: 366px;
  }
}

.examples__buttons-wrap {
  display: flex;
  justify-content: center;
}
