.examples {
  background-color: @grey-eaea;
  padding-top: 25px;
  padding-bottom: 40px;

  @media (min-width: @tablet-width) {
    background-color: @white;
  }

  .examples__container {
    @media (min-width: @tablet-width) {
      width: 100%;
      padding: 0;
    }

    @media (min-width: @desktop-width) {
      width: 1220px;
      padding-left: 110px;
      padding-right: 110px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

.examples__title {
  margin-top: 0;
  margin-bottom: 45px;
}

.examples__wrap {
  margin: 0 auto;
  width: 280px;

  img {
    max-width: 100%;
  }

  @media (min-width: @tablet-width) {
    width: 708px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    width: 570px;
  }
}

.examples__text {
  font-family: "Arial", sans-serif;
}

.examples__stats-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-transform: uppercase;
  color: @black;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 366px;
  }
}

.examples__item-box {
  position: relative;
  text-align: center;
  border: 1px solid @grey-cdcd;
  width: 124px;
  border-radius: 3px;
  padding-top: 15px;
  padding-bottom: 17px;

  @media (min-width: @tablet-width) {
    width: 162px;
  }

  span {
    content: "";
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 12px;
    position: absolute;
    z-index: 2;
    text-transform: lowercase;
    left: 18%;
    bottom: -15px;
    background-color: @grey-eaea;

    @media (min-width: @tablet-width) {
      background-color: @white;
    }

    @media (min-width: @desktop-width) {
      background-color: @bg-lite-grey;
    }
  }
}

.examples__weight {
  width: 77px;
}

.examples__time {
  width: 87px;
}

.examples__item-text {
  margin: 34px auto 40px;

  @media (min-width: @tablet-width) {
    width: 174px;
    text-align: end;
  }
}

.examples__buttons-wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 15px auto 0;
  width: 210px;

  &::after {
    content: "";
    position: absolute;
    width: 86px;
    height: 14px;
    background-color: @white;
    border: 1px solid @grey-cdcd;
    border-radius: 6px;
    transform: translate(67%, 15%);
  }

  &::before {
    content: "";
    position: absolute;
    width: 36px;
    height: 6px;
    background-color: @basic-green;
    border-radius: 6px;
    z-index: 2;
    left: 31%;
    top: 43%;
  }
}

.examples__button {
  cursor: pointer;
  border: none;
  background-color: @grey-eaea;
}

.examples__grad {
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    background-color: @bg-lite-grey;
  }

  @media (min-width: @desktop-width) {
    background: none;
    margin: 0;
    width: 570px;
  }
}

.examples__bg {
  @media (min-width: @desktop-width) {
    background-color: @bg-lite-grey;
  }
}
