.header-intro-wrap {
  @media (min-width: @desktop-width) {
    //цвет фона не тот - подберу попозже
    background: linear-gradient(to right, @white 50%, @dark-green 50%);
    background-size: 100% auto;
  }

  &::after {
    @media (min-width: @desktop-width) {
      content: "";
      position: absolute;
      background-image: url("../img/tongue-cat.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      top: 0;
      right: 0;
      width: 720px;
      height: 694px;
    }
  }
}
