.intro {
  background: linear-gradient(to bottom, @bg-green 302px, @white 158px);

  @media (min-width: @tablet-width) {
    padding-left: 87px;
    background: none;
  }

  img {
    margin: 0 auto;
    margin-bottom: 138px;

    @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
      width: 708px;
      height: 609px;
    }
  }
}

.intro__wrap {
  color: @white;

  @media (min-width: @desktop-width) {
    padding-left: 80px;
  }
}

.intro__title {
  @media (min-width: @tablet-width) {
    color: @black;
    background: none;
  }
}

.intro__text {
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    color: @black;
    font-size: 20px;
    line-height: 22px;
  }
}

.intro__choose-button {
  margin-left: 20px;

  @media (min-width: @tablet-width) {
    margin-left: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 190px;
  }
}
