.intro {
  .intro__wrap {
    background-image: url(/img/tongue-cat.png); /*не могу определить значимость изображения...
                                                 может его в разметку запихать и задать ему opacity?*/
    background-repeat: no-repeat;
    background-color: rgba(104, 183, 56, 0.85);
    color: #fff;
    padding: 27px 35px 0;
    margin-bottom: 138px;
  }

  .intro__title {
    margin: 0;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
  }

  .intro__text {
    line-height: 14px;
    text-transform: uppercase;
  }

  .intro__form-button {
    display: block;
    margin: 0 auto;
  }
}
