.main-nav {
  height: 38px;
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    height: 51px;
  }

  @media (min-width: @desktop-width) {
    height: 59px;
  }
}

.main-nav__list {
  .clear-list();

  &--closed {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.main-nav__toggle {
  @media (min-width: @tablet-width) {
    display: none;
  }
}
