.show-all {
  .show-all__button {
    color: @dark-grey;

    @media (min-width: @tablet-width) {
      width: 248px;
    }

    @media (min-width: @desktop-width) {
      width: 168px;
    }
  }
}

.show-all__text {
  font-size: 12px;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 18px;
  }
}

.show-all__title {
  color: @black-one;
}
