.title {
  font-weight: 400;

  &--big {
    font-size: 36px;
    line-height: 36px;

    @media (min-width: @tablet-width) {
      font-size: 60px;
      line-height: 60px;
    }
  }

  &--big-tall {
    font-size: 36px;
    line-height: 40px;

    @media (min-width: @tablet-width) {
      font-size: 60px;
      line-height: 60px;
    }
  }

  &--medium {
    font-size: 24px;
    line-height: 24px;
  }

  &--medium-tall {
    font-size: 24px;
    line-height: 37px;

    @media (min-width: @tablet-width) {
      font-size: 36px;
      line-height: 36px;
    }
  }

  &--small {
    font-size: 16px;
    line-height: 16px;
  }

  &--small-tall {
    font-size: 16px;
    line-height: 20px;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 26px;
    }
  }

  &--mini {
    font-size: 14px;
    line-height: 18px;
  }

  &--black {
    color: @black;
  }

  &--black-one {
    color: @black-one;
  }

  &--title--black-two {
    color: @black-one;
  }

  &--uppercase {
    text-transform: uppercase;
  }
}
