@white: #ffffff;
@white-opacity-three: rgba(255, 255, 255, 0.3);
@black: #000000;
@black-one: #111111;
@black-two: #222222;
@dark-grey: #444444;
@grey-six: #666666;
@grey-cdcd: #cdcdcd;
@grey-eaea: #eaeaea;
@grey-e-six: #e6e6e6;
@grey-nine: #d9d9d9;
@bg-green: rgba(104, 183, 56, 0.85);
@basic-green: #68b738;
@dark-green: #5eaa2f;
@bg-lite-grey: #f2f2f2;
